.vs
.vscode
Python-3.9.0
Python-3.10.1
a.exe
a.out
ans.txt
Gray_Scott.cpp
input.txt
Main.bf
Main.c
Main.class
Main.cpp
Main.java
Main.py
Main.rb
marathon.cpp
memo.txt
multi_dynamic_FN_random.cpp
output.txt
Python-3.9.0.tgz
Python-3.10.1.tar.xz
rest.py
rest2.py
sample.cpp
store.py
testcase.txt
wordle.py
wordleDP.cpp

Python_classes/Fenwicktree.py
Python_classes/SegmentTree.py
Python_classes/UnionFind.py
